config LFS_UFS
	bool
	default y if LFS_COMMON

config LFS_UFS_SYSFS_COMMON
	bool
	default y if LFS_COMMON

config UFSFEATURE
	bool "UFS feature activate"
	default y if LFS_UFS
	---help---
	UFS feature activate such as hpb, tw and etc.

config UFSTW
	bool "UFSTW"
	default y if (LFS_UFS && UFSFEATURE)
	---help---
	UFS TW Feature Enable

config UFSTW_IGNORE_GUARANTEE_BIT
	bool "UFSTW_IGNORE_GUARANTEE_BIT"
	default y if (LFS_UFS && UFSFEATURE && UFSTW)
	---help---
	ignore the guarantee bit[31] of dTurboWriteBufferLifeTimeEst for PoC